.scale-0 {
	font-size: 0.78rem;
}
.scale-1 {
	font-size: 1rem;
}
.scale-2 {
	font-size: 1.333rem;
}
.scale-3 {
	font-size: 1.777rem;
}
.scale-4 {
	font-size: 2.3686rem;
}
.scale-5 {
	font-size: 3.1573rem;
}
.scale-6 {
	font-size: 4.2087rem;
}
.scale-7 {
	font-size: 7.4783rem;
	line-height: 1;
}
.scale-8 {
	font-size: 9.9686rem;
	line-height: 1.1;
}
.scale-9 {
	font-size: 13.2883rem;
	line-height: 1.1;
}
